<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>会员价格管理</title>
		<link rel="stylesheet" href="/Public/Admin/css/zui.min.css">
		<link rel="stylesheet" href="/Public/Admin/css/mycss.css" />
		<script src="/Public/Admin/js/jquery.js"></script>
		<script src="/Public/Admin/js/zui.min.js"></script>
	</head>
	<body>
			<div class="panel">
				<div class="panel-heading" style="overflow:hidden">
					<a class="btn btn-info pull-left" href="{:U('VipDays/add')}">添加定价</a>
				</div>
				<div class="panel-body">
					<table class="table table-fixed table-hover table-bordered">
						<thead>
							<tr>
								<th>会员ID</th>
								<th>会员时长(天)</th>
								<th>价钱</th>
								<th>创建时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<volist name="list" id="vo">
							<tr>
								<td>{$vo.id}</td>
								<td>{$vo.days}</td>
								<td>{$vo.money}</td>
								<td>{$vo.create_time}</td>
								<td>
									<a class="btn btn-info " href="{:U('VipDays/update')}?id={$vo.id}">修改</a>
									<a class="btn btn-info " href="{:U('VipDays/delete')}?id={$vo.id}">删除</a>
								</td>
							</tr>
							</volist>
						</tbody>
					</table>
				</div>
			</div>

			<!-- 分页样式 -->
			<div class="col-md-offset-5">
				<ul class="pager">
				{$page}
				</ul>
			</div>
	</body>
	<script type="text/javascript">
	function searcha(){
	        var url = '__ACTION__';
	        var query  = $('#search-form').find('.search').serialize();

	        if( url.indexOf('?')>0 ){
	            url += '&' + query;
	        }else{
	            url += '?' + query;
	        }
	        window.location.href = url;
	}
	</script>
</html>
