<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>管理员权限</title>
		<link rel="stylesheet" href="/Public/Admin/css/zui.min.css">
		<link rel="stylesheet" href="/Public/Admin/css/mycss.css" />
		<script src="/Public/Admin/js/jquery.js"></script>
		<script src="/Public/Admin/js/zui.min.js"></script>
	</head>
	<body>
			<div class="panel">
				<div class="panel-heading">
					<a class="btn btn-info pull-left" href="{:U('Admin/add')}">增加</a>
					<form id="search-form">
						<div class="form-group col-md-2">
     					<input type="text" name="account" class="form-control search" id="exampleInputAccount1" placeholder="账号">
   					</div>
					<button class="btn btn-info" onclick="searcha()">查询</button>
					</form>
				</div>
				<div class="panel-body">
					<table class="table table-fixed table-hover table-bordered">
						<thead>
							<tr>
								<th>账号ID</th>
								<th>账号</th>
								<th>昵称</th>
								<th>状态</th>
                <th>管理员类型</th>
                <th>管理员角色</th>
								<th>创建时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<volist name="list" id="vo">
							<tr>
								<td>{$vo.id}</td>
								<td>{$vo.account}</td>
								<td>{$vo.nick_name}</td>
								<td>{$vo.status}</td>
		                <td>{$vo.admin_type}</td>
		                <td>{$vo.role_name}</td>
								<td>{$vo.create_time}</td>
								<td>
									<a class="btn btn-info " href="{:U('Admin/update')}?id={$vo.id}">修改</a>
									<a class="btn btn-info " href="{:U('Admin/delete')}?id={$vo.id}">删除</a>
								</td>
							</tr>
							</volist>
						</tbody>
					</table>
				</div>
			</div>
			<!-- 确定删除弹框 -->
			<div class="modal fade">
				<div class="modal-dialog">
				  <div class="modal-content">
				    <div class="modal-header">
				      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
				      <h4 class="modal-title">标题</h4>
				    </div>
				    <div class="modal-body">
				      <p>确定删除么？</p>
				    </div>
				    <div class="modal-footer">
				      <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				      <button type="button" class="btn btn-primary">保存</button>
				    </div>
				  </div>
  			</div>
			</div>

			<!-- 分页样式 -->
			<div class="col-md-offset-5">
				<ul class="pager">
				{$page}
				</ul>
			</div>
	</body>
	<script type="text/javascript">
	function searcha(){
	        var url = '__ACTION__';
	        var query  = $('#search-form').find('.search').serialize();

	        if( url.indexOf('?')>0 ){
	            url += '&' + query;
	        }else{
	            url += '?' + query;
	        }
	        window.location.href = url;
	}

	</script>
</html>
