<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>管理员权限</title>
		<link rel="stylesheet" href="/Public/Admin/css/zui.min.css">
		<link rel="stylesheet" href="/Public/Admin/css/mycss.css" />
		<script src="/Public/Admin/js/jquery.js"></script>
		<script src="/Public/Admin/js/zui.min.js"></script>
	</head>
	<body>
			<div class="panel">
				<div class="panel-heading">
					<a class="btn btn-info pull-left" href="{:U('UserAuths/add')}">增加</a>
					<form id="search-form">
					<div class="col-sm-3">
      			<select name="authname" class="form-control search">
							<option value="0">--选择搜索项--</option>
							<volist name="data" id="voo">
        				<option value="{$voo.id}">{$voo.auth_name}</option>
							</volist>
      			</select>
    			</div>
					<button class="btn btn-info" onclick="searcha()">查询</button>
					</form>
				</div>
				<div class="panel-body">
					<table class="table table-fixed table-hover table-bordered">
						<thead>
							<tr>
								<th>消息ID</th>
								<th>权限名称</th>
								<th>权限备注</th>
								<th>创建时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<volist name="list" id="vo">
							<tr>
								<td>{$vo.id}</td>
								<td>{$vo.auth_name}</td>
								<td>{$vo.remarks}</td>
								<td>{$vo.create_time}</td>
								<td>
									<a class="btn btn-info " href="{:U('UserAuths/update')}?id={$vo.id}">修改</a>
									<a class="btn btn-info " href="{:U('UserAuths/delete')}?id={$vo.id}">删除</a>
								</td>
							</tr>
							</volist>
						</tbody>
					</table>
				</div>
			</div>
			<!-- 分页样式 -->
			<div class="col-md-offset-5">
				<ul class="pager">
				{$page}
				</ul>
			</div>
	</body>
	<script type="text/javascript">
	function searcha(){
	        var url = '__ACTION__';
	        var query  = $('#search-form').find('.search').serialize();

	        if( url.indexOf('?')>0 ){
	            url += '&' + query;
	        }else{
	            url += '?' + query;
	        }
	        window.location.href = url;
	}
	</script>
</html>
