<!DOCTYPE html>
<html style="height: 100%;">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>操作日志</title>
		<link href="css/mzui.css" rel="stylesheet">
		<link href="css/doc.min.css" rel="stylesheet">
		<style id="themeStyle"></style>
		<link rel="shortcut icon" href="docs/favicon.ico" type="image/x-icon">
		<link rel="icon" href="docs/favicon.ico" type="image/x-icon">
		<script type="text/javascript" src="http://zui.sexy/dist/lib/prettify/prettify.js"></script>
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="http://zui.sexy/dist/js/zui.min.js"></script>
		<link rel="stylesheet" href="css/public.css" />
		<!--[if lt IE 9]>
		    <script src="dist/lib/ieonly/html5shiv.js"></script>
		    <script src="dist/lib/ieonly/respond.js"></script>
		    <script src="dist/lib/ieonly/excanvas.js"></script>
		  <![endif]-->
		<style>
			
			.text-muted{text-align: center;}
			.card{background: #E9E9E9;height: 250px;}
		</style>
	</head>

	<body style="height: 100%;">
		<header>
			<nav class="navbar" style="margin-bottom: 0;background: white;border-bottom: 1px #d4d4d4 solid;" role="navigation">
				<div class="container-fluid" >
					<!-- 导航头部 -->
					<div class="navbar-header" style="width: 150px;">
						<!-- 移动设备上的导航切换按钮 -->
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-example">
									<span class="sr-only">切换导航</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
						<!-- 品牌名称或logo -->
						<a class="navbar-brand navbar-inverse" href="#" style="background: none;padding: 10px 0 10px  50px;">
							<img src="img/logo.png" width="80%" style="margin: 0!important;padding: 0!important;"/>
						</a>
					</div>
					<!-- 导航项目 -->
					<div class="collapse navbar-collapse navbar-collapse-example">
						<!-- 一般导航项目 -->
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">首页</a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">服务</a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">下载</a>
							</li>
						</ul>
						<!--<div id="search" style="max-width: 500px;padding: 0;height: 0;">
					        <div id="searchForm" style="margin: 3px 0 0 0;">
					          <input type="text" style="height: 30px;" class="form-control input-lg" id="searchInput" placeholder="按钮, control, icon-star...">
					          <i class="icon icon-search" style="margin: -5px 0 0 0 ;"></i>
					          <button id="searchHelpBtn"style="margin: -10px 0 0 0 ;" type="button" class="btn btn-link"><i class="icon icon-question"></i></button>
					        </div>
					    </div>-->
					    	<a  href="" class="btn" style="background: #8BC34A;color: white;font-size: 12px;text-shadow: none; margin-left: 2%;">登录</a>
					    	<a  href="" class="btn" style="background: #8BC34A;color: white;font-size: 12px;text-shadow: none; ">免费注册</a>
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="">
									<i class="icon icon-home" style="font-size: 16px;"></i>
								</a>
							</li>
							<li>
								<a href="">
									<i class="icon icon-user" style="font-size: 16px;"></i>
								</a>
							</li>
							<li>
								<a  href="" >
									<i class="icon icon-off" style="font-size: 16px;"></i>
								</a>
							</li>
						</ul>
					</div>
					<!-- END .navbar-collapse -->
				</div>
			</nav>
		</header>
		<div class="zong" style="width: 100%;height: 95%;overflow: hidden;">
			<nav class="menu" data-ride="menu" style="border-right: 1px solid #CCCCCC; width: 10%;height:100%;background: white;float: left;">
				<ul class="nav newadd nav-primary">
					<li><a href="zong.html"><img src="img/shujuzhongxin.png"></img>数据中心</a></li>
					<li><a href="shangchuan.html"><img src="img/shangchuan.png">增加数据</a></li>
					<li><a href="xiazai.html"><img src="img/xiazai.png">下载数据</a></li>
					<li><a href="caozuorizhi.html"><img src="img/chaozuorizhi.png"/>操作日志</a></li>
				</ul>
			</nav>
			<div class="main"  style="float: left;">
					<div class="panel">
					<div class="panel-heading">
						<a style="color: #000000;">数据源管理</a>/
						<a class="active" style="color: #999;">操作日志</a>
					</div>
					<div class="panel-body">
						<table class="table table-hover table-bordered  table-striped">
							<thead>
								<tr>
									<th>
										<input type="checkbox" id="quanxuan"/>
									</th>
									<th>日志内容</th>
									<th>时间</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><input type="checkbox" name="chk"></td>
									<td>员工李先生于2017-2-13；14:32，上传了工资表.</td>
									<td>17/01/02   13:05</td>
									<td>
										<a href="#">已读</a>
										<a href="#">删除</a>
									</td>
								</tr>
								<tr>
									<td><input type="checkbox" name="chk"></td>
									<td>员工李先生于2017-2-13；14:32，上传了工资表.</td>
									<td>17/01/02   13:05</td>
									<td>
										<a href="#">已读</a>
										<a href="#">删除</a>
									</td>
								</tr>
								<tr>
									<td><input type="checkbox" name="chk"></td>
									<td>员工李先生于2017-2-13；14:32，上传了工资表.</td>
									<td>17/01/02   13:05</td>
									<td>
										<a href="#">已读</a>
										<a href="#">删除</a>
									</td>
								</tr>
								<tr>
									<td><input type="checkbox" name="chk"></td>
									<td>员工李先生于2017-2-13；14:32，上传了工资表.</td>
									<td>17/01/02   13:05</td>
									<td>
										<a href="#">已读</a>
										<a href="#">删除</a>
									</td>
								</tr>
								<tr>
									<td><input type="checkbox" name="chk"></td>
									<td>员工李先生于2017-2-13；14:32，上传了工资表.</td>
									<td>17/01/02   13:05</td>
									<td>
										<a href="#">已读</a>
										<a href="#">删除</a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="col-md-offset-5">
							<ul class="pager ">
							  <li class="previous"><a href="">«</a></li>
							  <li><a href="">1</a></li>
							  <li class="active"><a href="">2</a></li>
							  <li><a href="">3</a></li>
							  <li><a href="">4</a></li>
							  <li><a href="">5</a></li>
							  <li class="next"><a href="">»</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		var ss;
			window.onload=function()
			{
			var w=document.documentElement.clientWidth ;//可见区域宽度
			var h=document.documentElement.clientHeight;//可见区域高度
			ss=document.getElementById('ha');
			//alert(w);
			ss.style.height=h+"px";
			var quanxuan=document.getElementById("quanxuan");
			var chkL=document.getElementsByName("chk");
			quanxuan.onclick=function(){
				for (var i=0;i<chkL.length;i++) {
					if (quanxuan.checked) {
						chkL[i].checked=true;
					} else{
						chkL[i].checked=false;
					}
				}
			}
		}
	</script>
</html>