<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>管理员权限</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script type="text/javascript" src="/Public/Admin/js/prettify.js"></script>
		<script type="text/javascript" src="/Public/Admin/js/jquery.js"></script>
		<script type="text/javascript" src="/Public/Admin/js/zui.min.js"></script>
    <link href="/Public/Admin/css/mzui.css" rel="stylesheet" />
</head>
<body>
  <div class="container">
    <div class="panel">
      <div class="panel-heading">
        <h2 class="title">权限名称修改</h2>
      </div>
      <form class="form-horizontal" style="margin-top:50px;">
    <div class="form-group">
      <label for="exampleInputAccount4" class="col-sm-2">名称</label>
      <div class="col-md-6 col-sm-10">
        <input type="text" name="authname" class="form-control" required id="exampleInputAccount4" value="{$result.auth_name}">
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword4" class="col-sm-2">权限备注</label>
      <div class="col-md-6 col-sm-10">
        <input type="text" name="remarks" class="form-control" required id="exampleInputPassword4" value="{$result.remarks}">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6 col-sm-10">
        <input type="hidden" name="id" value="{$_GET['id']}">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button name="sub" class="btn btn-primary">提交</button>
        <a name="sub" href="javascript:history.back()" class="btn btn-primary">返回</a>
      </div>
    </div>
  </form>
    </div>
  </div>
</body>
<script type="text/javascript">
  $("button[name='sub']").bind('click',function(){
    var authname = $("input[name='authname']").val();
    var remarks = $("input[name='remarks']").val();
    var id = $("input[name='id']").val();
    if(authname !== '' && remarks !== ''){
      $("button").attr("disabled",true);
      $("button").attr("type","button");
    }
    $.ajax({
      type:'post',
      url:"{:U('Auths/updatelist')}",
      data:{"authname":authname,"remarks":remarks,"id":id},
      success:function(data){
        var data = eval("("+data+")");
        if(data.error == true){
          new $.zui.Messager('提示消息：成功', {
          type:'success',
          placement: 'bottom-right' // 定义显示位置
          }).show();
          window.location.href = "{:U('Auths/index')}";
        }else{
          new $.zui.Messager('提示消息：失败', {
          type:'danger',
          placement: 'bottom-right' // 定义显示位置
          }).show();
        }
      }
    })
  })
</script>
</html>
