<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>轮播图修改</title>
    <link rel="stylesheet" href="/Public/Admin/css/zui.min.css">
    <script src="/Public/Admin/js/jquery.min.js"></script>
    <script src="/Public/Admin/js/zui.min.js"></script>

</head>
<body>
<div class="panel">
    <div class="panel-heading" style="height: 50px;">
        <a class="btn btn-primary pull-left" href="{:U('Informationimg/add')}">增加</a>
    </div>
    <div class="panel-body">
        <table class="table table-fixed table-hover table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>图片路径</th>
                <th>图片</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="list" id="vo">
                <tr>
                    <td>{$vo.id}</td>
                    <td>{$vo.url}</td>
                    <td>
                        <img src="{$vo.url}" width="88px" height="88px" class="img-thumbnail"
                             alt="缩略图">
                    </td>
                    <td>{$vo.create_time}</td>
                    <td>
                        <a class="btn btn-primary " href="{:U('Informationimg/update')}?id={$vo.id}">修改</a>
                        <a class="btn btn-primary " href="{:U('Informationimg/delete')}?id={$vo.id}">删除</a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
</div>
<!-- 分页样式 -->
<div class="col-md-offset-5">
    <ul class="pager">
        {$page}
    </ul>
</div>
</body>
<script type="text/javascript">

</script>
</html>
