<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>定制信息</title>
		<link rel="stylesheet" href="/Public/Admin/css/zui.min.css">
		<link rel="stylesheet" href="/Public/Admin/css/datetimepicker.min.css" />
		<script src="/Public/Admin/js/jquery.js"></script>
		<script src="/Public/Admin/js/zui.min.js"></script>
		<script src="/Public/Admin/js/datetimepicker.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="panel">
				<div class="panel-heading">
					<h2 class="title">定制人&nbsp;&nbsp;&nbsp;{$list['name']}&nbsp;&nbsp;&nbsp;的定制信息，联系方式是&nbsp;&nbsp;&nbsp;{$list['phone']}</h2>
				</div>
				<div class="panel-body">
					<form id="search-form" class="col-md-12">
						<textarea name="content" rows="8" cols="80">{$list['content']}</textarea>
					</form>
          <a class="btn btn-info " href="javascript:history.back()" style="margin:20px 10px;">返回</a>
				</div>
			</div>
		</div>
		<!-- 分页样式 -->
		<div class="col-md-offset-5">
			<ul class="pager">
			{$page}
			</ul>
		</div>
	</body>
	<script type="text/javascript">
	function searcha(){
		  var tablename = $("select[name='table_name']").val();

	        var url = '__ACTION__';

	        var query  = $('#search-form').serialize();

	        if( url.indexOf('?')>0 ){
	            url += '&' + query;
	        }else{
	            url += '?' + query;
	        }
	        window.location.href = url;
	}
	$(".form-date").datetimepicker(
	{
			language:  "zh-CN",
			weekStart: 1,
			todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			minView: 2,
			forceParse: 0,
			format: "yyyy-mm-dd"
	});
	</script>
</html>
