<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>会员管理</title>
		<link rel="stylesheet" href="/Public/Admin/css/zui.min.css">
		<link rel="stylesheet" href="/Public/Admin/css/mycss.css" />
		<script src="/Public/Admin/js/jquery.js"></script>
		<script src="/Public/Admin/js/zui.min.js"></script>
		<script src="/Public/Admin/js/zui.datatable.js"></script>
		<link rel="stylesheet" href="/Public/Admin/css/zui.datatable.min.css">
		<style type="text/css">
			.fixed-left{width: 70%!important;}
			.fixed-right{width: 8%!important;}
		</style>
	</head>
	<body>
			<div class="panel">
				<div class="panel-heading">
					<form id="search-form">
						<div class="form-group col-md-2">
     					<input type="text" name="phone" class="form-control search" id="exampleInputAccount1" placeholder="手机号">
   					</div>
						<div class="form-group col-md-2">
     					<input type="text" name="company_name" class="form-control search" id="exampleInputAccount1" placeholder="公司名称">
   					</div>
						<div class="col-md-2">
	      			<select name="is_pay" class="form-control search">
						<option value="">--选择状态--</option>
						<option value="0">未付费</option>
	        			<option value="1">已付费</option>
	      			</select>
	    			</div>
					<button class="btn btn-info" onclick="searcha()">查询</button>
					</form>
				</div>
				<div class="panel-body">
					<table class="table table-fixed table-hover table-bordered datatable">
						<thead>
							<tr>
								<th>会员ID</th>
								<th>公司名称</th>
								<th>手机号</th>
								<th>昵称</th>
								<th>使用人数</th>
                				<th>账户状态</th>
                				<th>使用期限</th>
                				<!--<th class="flex-col" data-width="300">公司名称</th>-->
								<th class="flex-col" data-width="150">用户注册时间</th>
								<th class="flex-col" data-width="150">开通会员时间</th>
								<th class="flex-col" data-width="150">会员截止时间</th>
								<th class="flex-col" data-width="150">公司创建时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<volist name="list" id="vo">
							<tr>
								<td>{$vo.company_id}</td>
								<td>{$vo.company_name}</td>
								<td>{$vo.phone}</td>
								<td>{$vo.nick_name}</td>
								<td>{$vo.count}</td>
                				<td>{$vo.is_pay}</td>
                				<td>{$vo.vip_days}</td>
								<td>{$vo.ctime}</td>
								<td>{$vo.vip_start_time}</td>
								<td>{$vo.vip_end_time}</td>
								<td>{$vo.create_time}</td>
								<td>
									<a class="btn btn-info " href="{:U('Member/detail')}?id={$vo.id}">成员列表</a>
								</td>
							</tr>
							</volist>
						</tbody>
					</table>
				</div>
			</div>
			<!-- 分页样式 -->
			<div class="col-md-offset-5">
				<ul class="pager">
				{$page}
				</ul>
			</div>
	</body>
	<script type="text/javascript">
	function searcha(){
	        var url = '__ACTION__';
	        var query  = $('#search-form').find('.search').serialize();

	        if( url.indexOf('?')>0 ){
	            url += '&' + query;
	        }else{
	            url += '?' + query;
	        }
	        window.location.href = url;
	}
	$('table.datatable').datatable();
	</script>
</html>
