<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户管理</title>
    <link rel="stylesheet" href="/Public/Admin/css/zui.min.css">
    <link rel="stylesheet" href="/Public/Admin/css/mycss.css"/>
    <script src="/Public/Admin/js/jquery.js"></script>
    <script src="/Public/Admin/js/zui.min.js"></script>
</head>
<body>
<div class="panel">
    <div class="panel-heading">
        <form id="search-form">
            <div class="form-group col-md-2">
                <input type="text" name="phone" class="form-control search" id="exampleInputAccount1" placeholder="手机号">
            </div>
            <div class="form-group col-md-2">
                <input type="text" name="nick_name" class="form-control search" id="exampleInputAccount1"
                       placeholder="昵称">
            </div>
            <button class="btn btn-info" onclick="searcha()">查询</button>
        </form>
    </div>
    <div class="panel-body">
        <table class="table table-fixed table-hover table-bordered">
            <thead>
            <tr>
                <th>账号ID</th>
                <th>昵称</th>
                <th>手机号</th>
                <th>公司名称</th>
                <th>是否为老板</th>
                <th>角色名称</th>
                <th>状态</th>
                <th>注册时间</th>
            </tr>
            </thead>
            <tbody>
            <volist name="list" id="vo">
                <tr>
                    <td>{$vo.id}</td>
                    <td>{$vo.nick_name}</td>
                    <td>{$vo.phone}</td>
                    <td>{$vo.company_name}</td>
                    <td>{$vo.is_boss}</td>
                    <td>{$vo.role_name}</td>
                    <td>{$vo.status}</td>
                    <td>{$vo.create_time}</td>

                </tr>
            </volist>
            </tbody>
        </table>
    </div>
</div>

<!-- 分页样式 -->
<div class="col-md-offset-5">
    <ul class="pager">
        {$page}
    </ul>
</div>
</body>
<script type="text/javascript">
    function searcha() {
        var url = '__ACTION__';
        var query = $('#search-form').find('.search').serialize();

        if (url.indexOf('?') > 0) {
            url += '&' + query;
        } else {
            url += '?' + query;
        }
        window.location.href = url;
    }

</script>
</html>
