<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>修改广告</title>
		<link rel="stylesheet" href="/Public/Admin/css/zui.min.css">
    <link rel="stylesheet" href="/Public/Admin/css/zui.uploader.css">
		<script src="/Public/Admin/js/jquery.js"></script>
    <script type="text/javascript" src="/Public/Admin/js/prettify.js"></script>
		<script type="text/javascript" src="/Public/Admin/js/zui.min.js"></script>
		<script type="text/javascript" src="/Public/Admin/js/zui.uploader.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="panel">
				<div class="panel-heading">
					<h2 class="title">修改广告</h2>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" method="post" action="{:U('Ads/updatelist')}" style="margin: 50px 0;" enctype="multipart/form-data">
						<div class="form-group">
						<label class="col-sm-2">推荐位置</label>
						<div class="col-md-6 col-sm-10">
					    	<select class="form-control" name="position">
                  <option value="0">--请选择--</option>
					    		<option value="1">首页</option>
					    		<option value="2">弹窗</option>
                  <option value="3">跳转</option>
					    	</select>
						</div>
						</div>
					  <div class="form-group">
					    <label for="Input1" class="col-sm-2">广告标题</label>
					    <div class="col-md-6 col-sm-10">
					      	<input class="form-control" required name="title" id="Input1" value="{$result.title}">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="Input2" class="col-sm-2">上传图片</label>
							<div class="col-md-6 col-sm-10">
              	<input type="file" name="picture" class="form-control" value="{$result.picture}">
							</div>
							<!-- <input type="file" name="picture" value=""> -->
					  </div>
					  <div class="form-group">
					    <label for="Input3" class="col-sm-2">广告链接</label>
					    <div class="col-md-6 col-sm-10">
					    	<input type="text" name="link" required class="form-control" id="Input3" value="{$result.link}">
					    </div>
					  </div>
						<div class="form-group">
						<label class="col-sm-2">是否上线</label>
						<div class="col-md-6 col-sm-10">
					    	<select class="form-control" name="status">
					    		<option value="0">--选择状态--</option>
					    		<option value="1">未上线</option>
                  <option value="2">已上线</option>
					    	</select>
						</div>
						</div>
					  <div class="form-group">
							<input type="hidden" name="id" value="{$_GET['id']}">
					    <div class="col-sm-offset-2 col-sm-10">
					      <button name="sub" class="btn btn-primary">确认提交</button>
							<a name="sub" href="javascript:history.back()" class="btn btn-primary">返回</a>
					    </div>
					  </div>
					</form>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
	// $("button[name='sub']").bind('click',function(){
	// 	var id = $("input[name='id']").val();
	// 	var position = $("select[name='position']").val();
	// 	var title = $("input[name='title']").val();
	// 	var picture = $("input[name='picture']").val();
	// 	var link = $("input[name='link']").val();
	// 	if(position !== '' && title !== '' && link !== ''){
	// 			$("button").attr("disabled",true);
	// 			$("button").attr("type","button");
	// 	}
	// 	$.ajax({
	// 		type:'post',
	// 		url:"{:U('Ads/updatelist')}",
	// 		data:{"id":id,"position":position,"title":title,"picture":picture,"link":link},
	// 		success:function(data){
	// 			var data = eval("("+data+")");
	// 			if(data.error == true){
	// 				new $.zui.Messager('提示消息：成功', {
	// 				type:'success',
	// 				placement: 'bottom-right' // 定义显示位置
	// 				}).show();
	// 				window.location.href = "{:U('Ads/index')}";
	// 			}else{
	// 				new $.zui.Messager('提示消息：失败', {
	// 				type:'danger',
	// 				placement: 'bottom-right' // 定义显示位置
	// 				}).show();
	// 			}
	// 		}
	// 	})
	// })
	</script>
</html>
