<link rel="stylesheet" href="/Public/APP/css/head.css"/>
<header>
    <div class="contentCenter">
        <div class="imgLogo">
            <img src="/Public/APP/img/logo.png" width="55%" style="margin-top: 0.05rem;"/>
        </div>
        <ul class="headerTil">
            <li><a href="">首页</a></li>
            <li><a href="">财务课程</a></li>
            <li><a href="">财务咨询</a></li>
            <li><a href="">扁鹊课堂</a></li>
            <li><a href="">专家团队</a></li>
            <li><a href="">财税资讯</a></li>
        </ul>
    </div>
</header>