<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
</head>
<body>
<form action="{:U('Login/login')}" method="post">
    <div>
        <div>
            <lable>用户名：</lable>
            <input type="text" name="account">
        </div>
        <div>
            <lable>密码：</lable>
            <input type="password" name="password">
        </div>
        <div>
            <input type="submit" name="sub" value="登录">
        </div>
    </div>
</form>
</body>
</html>